.section{
    background-color: #eceff1;
}

.box{
    border-radius: 16px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.title{
    font-family: Roboto, "Helvetica Neue", "sans-serif";
}

:empty.divider:before { 
    margin-right: 0;
 } 

 :empty.divider:after { 
    margin-left: 0;
}

.space-letter{
    letter-spacing: 1px;
}