<section class="section is-small" style="background-color: darkgrey;">
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="title is-3 columns is-centered">Welcome</h4>
                        </div>
                        <button type="button" class="btn btn-warning text-center" (click)="logout()">Logout</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</section>