<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow">
            <form  class="box"  [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="mt-2">
                    <h4 class="title is-4 has-text-centered has-text-weight-bold">Sign In</h4>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left form-group">
                        <input class="input" type="email" placeholder="example@gmail.com"  formControlName="email" [ngClass]="{'is-danger': email?.errors && (email?.touched || email?.dirty), '': email?.valid}">
                        <span class="icon is-left is-small has-text-info">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <p class="help is-danger" *ngIf="email?.errors?.['required'] && (email?.touched || email?.dirty)">This field is required</p>
                    <p class="help is-danger" *ngIf="email?.errors?.['email']">Please, enter valid email address.</p>
                </div>
                <div class="field mt-5">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" placeholder="******" formControlName="password"  [ngClass]="{'is-danger': password?.errors && (password?.touched || password?.dirty), '': password?.valid}">
                        <span class="icon is-left is-small has-text-info">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <p class="help is-danger" *ngIf="password?.errors?.['required'] && (password?.touched || password?.dirty)">This field is required</p>
                    <p class="help is-danger" *ngIf="password?.errors?.['minlength']">Password must be greated than 5 character</p>
                </div>
                <div class="has-text-centered">
                    <button type="submit" class="button is-fullwidth is-link mt-5" [disabled]="loginForm.invalid">Login</button>
                </div>
                <div class="divider"></div>
                <div class="block mt-2 has-text-centered">
                    <span class="space-letter is-size-6">Don't have an account?</span>
                    <a routerLink="/register" class="ml-2 is-size-6">Sign up</a>
                    <p class="has-text-centered" hidden>Form Status: {{ loginForm.status }}</p>
                </div>
            </form>
        </div>
    </div>
</section>