<div class="columns mb-5">
  <div class="column is-3"></div>
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title is-size-4 my-2">
          {{postData?.title}}
        </p> 
      </header>
      <div class="card-content">
        <div class="card-image">
          <figure class="image">
            <img src="{{postData?.imageURL}}" alt="Placeholder image">
          </figure>
        </div>
        <p class="content mt-4 is-size-4" style="margin-bottom: 6px;">
          {{postData?.comment}}
        </p>
        <time class="is-size-6">Posted by: {{postData?.userName}}</time>
      </div>
      <!-- <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
      </footer> -->
    </div>
  </div>
  <div class="column is-3"></div>
</div>
