<section class="hero is-medium is-link">
    <div class="hero-body">
      <p class="title">
        Looking For a Group
      </p>
      <p class="subtitle">
        forums
      </p>
    </div>
</section>

<section class="section is-large" style="background-color: darkgrey;">
    <h1 class="title">All Groups</h1>
    <h2 class="subtitle">
       
      <div class="columns">
        <div class="column">
            <app-group></app-group>
        </div>
        <div class="column">
            <app-group></app-group>
        </div>
        <div class="column">
            <app-group></app-group>
        </div>
        <div class="column">
            <app-group></app-group>
        </div>
      </div>

      <div class="columns">
        <div class="column">
            <app-group></app-group>
        </div>
        <div class="column">
            <app-group></app-group>
        </div>
        <div class="column">
            <app-group></app-group>
        </div>
        <div class="column">
            <app-group></app-group>
        </div>
      </div>
    </h2>
</section>