<section class="hero is-danger is-large">
    <div class="hero has-background">
      <img alt="Video Game" class="hero-background is-transparent" src="assets/img/pic1.jpg" id="img-banner"/>
      <div class="hero-body">
        <div class="container has-text-centered" style="position: absolute; bottom: 20px; left: 35%; text-shadow: 2px 3px 5px rgba(92, 79, 79, 0.81);">
          <div class="content is-medium">
            <h1 class="title " id="title-banner" id="ttt">
              Hero Image
            </h1>
            <h3 class="subtitle" id="des-banner">
              without CSS background-image
            </h3>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="section">
  <div class="columns">
    <div class="column">
      <a onclick="loadImg(this.id);" id="0">
      <div class="card img-hover" id="card_0">
        <div class="card-image">
          <figure class="image is-5by3">
            <img src="assets/img/pic1.jpg" alt="Placeholder image" class="card-radius">
          </figure>
        </div>
      </div>
    </a>
    </div>
    <div class="column">
      <a onclick="loadImg(this.id);" id="1">
        <div class="card img-hover" id="card_1">
        <div class="card-image">
          <figure class="image is-5by3">
            <img src="assets/img/pic2.jpg" alt="Placeholder image" class="card-radius">
          </figure>
        </div>
      </div>
    </a>
    </div>
    <div class="column">
      <a onclick="loadImg(this.id);" id="2">
        <div class="card img-hover" id="card_2" >
        <div class="card-image">
          <figure class="image is-5by3">
            <img src="assets/img/pic3.jpg" alt="Placeholder image" class="card-radius">
          </figure>
        </div>
      </div>
      </a>
    </div>
    <div class="column">
      <a onclick="loadImg(this.id);" id="3">
        <div class="card img-hover" id="card_3">
        <div class="card-image">
          <figure class="image is-5by3">
            <img src="assets/img/pic4.jpg" alt="Placeholder image" class="card-radius">
          </figure>
        </div>
      </div>
      </a>
    </div>
    <div class="column">
      <a onclick="loadImg(this.id);" id="4">
        <div class="card img-hover" id="card_4">
        <div class="card-image">
          <figure class="image is-5by3">
            <img src="assets/img/pic5.jpg" alt="Placeholder image" class="card-radius">
          </figure>
        </div>
      </div>
      </a>
    </div>
    <div class="column">
      <a onclick="loadImg(this.id);" id="5">
        <div class="card img-hover" id="card_5">
        <div class="card-image">
          <figure class="image is-5by3">
            <img src="assets/img/pic6.jpg" alt="Placeholder image" class="card-radius">
          </figure>
        </div>
      </div>
      </a>
    </div>
  </div>
</section>