<section class="hero is-medium is-link">
    <div class="hero-body">
      <p class="title">
        Posts
      </p>
      <p class="subtitle">
        Posts go here
      </p>
    </div>
</section>

<section class="section is-large" style="background-color: darkgrey;">
    <h1 class="title">All posts</h1>
    <h2 class="subtitle">
      
      <div class="columns">
        <div class="column">
          <app-post></app-post>
        </div>
        <div class="column">
          <app-post></app-post>
        </div>
        <div class="column">
          <app-post></app-post>
        </div>
        <div class="column">
          <app-post></app-post>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <app-post></app-post>
        </div>
        <div class="column">
          <app-post></app-post>
        </div>
        <div class="column">
          <app-post></app-post>
        </div>
        <div class="column">
          <app-post></app-post>
        </div>
      </div>
    </h2>
</section>