
.hero.is-medium .hero-body{
    padding: 5rem 4.5rem
}

.button.is-large{
    font-size: 1.7rem;
    border-radius: 60px;
    position: absolute;
    top: 4.8rem;
    right: 5rem;
}

.fa.fa-plus{
    color: hsl(217, 71%, 53%);
}


#photo-upload{
    display: none;
}

textarea {
font-size: 1.5rem;
padding: 1rem;
resize: none;
width: 250px;
min-height: 200px;
border: none;
outline: none;
}

#post-preview{
    text-align: right;
    margin-top: 1em;
}

#post-preview-image{
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 100px;
    border-radius: 1em;
    border: 1px dashed gray;
}

.modal-card{
    width : 461px;
}


#post-review{
    text-align: right;
    margin-top: 1em;
}

#post-review-image{
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 100px;
    border-radius: 1em;
    border: 1px dashed gray
}

