<section class="hero is-medium is-link">
    <div class="hero-body" style="position: relative;">
      <p class="title">
        Posts
      </p>
      <p class="subtitle">
        #Share what you love
      </p>
      <a class="button is-large is-focused js-modal-trigger" data-target="openModal" onclick="OpenModal()">
        <span class="icon is-medium">
          <i class="fa fa-plus"></i>
        </span>
      </a>
    </div>
</section>
 
<section class="section is-medium" style="background-color: rgb(229, 229, 229);">

  <!-- Posts' content  -->
  <app-each-post *ngFor="let post of posts" [postData]="post"></app-each-post>

  <!-- Modal -->
  <div class="modal" id="postModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head has-background-info">
        <!-- Header Section -->
        <p class="modal-card-title has-text-centered is-size-4 pt-2 has-text-white has-text-weight-bold">Create Post</p>
        <!-- Close Button -->
        <button class="delete" aria-label="close" onclick="closeModal()"></button>
      </header>
      <section class="modal-card-body" style="scrollbar-width: none;">
          <!-- Body Section -->
          <input class="input mb-4 is-medium" type="text" placeholder="Title Post" [(ngModel)]="titlePost">
          <div>  
            <textarea #commentInput class="textarea is-focused" placeholder="Type message" [(ngModel)]="commentPost"></textarea>
          </div>
          <div *ngIf="selectedImageFile" id="post-review">
              <img id="post-review-image" [(ngModel)]="imagePost"/>
          </div>
        </section>
      <footer class="modal-card-foot">
        <!-- Footer Section -->
        <div class="columns" style="width: 94%;">
          <div class="column is-11">
            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" #photoSelector accept="image/" (change) = "onPhotoSelected(photoSelector)">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
              </label>
            </div>
          </div>
          <div class="column">
              <button class="button is-info" id="postButton" (click)="uploadImagePost()">Post</button>
          </div>
        </div>
      </footer>
    </div>
  </div>
    
</section>