<section class="hero is-medium is-link">
    <div class="hero-body">
      <p class="title">
        Posts
      </p>
      <p class="subtitle">
        Posts go here
      </p>
    </div>
</section>

<section class="section is-large" style="background-color: darkslateblue;">
     

       
  <div class="columns">
    <div class="column">
        <img src="assets/img/a.jpg" alt="rankings and awesome stuff" class="">
        <p style="color:black; font-size: 20px" >
            here is where the future rankings will be, it is under progress.
        </p>

    </div>
    <div class="column">
        <img src="assets/img/b.jpg" alt="rankings and awesome stuff" class="">
    </div>
    <div class="column">
      <img src="assets/img/c.jpg" alt="rankings and awesome stuff" class="">
  </div>
  <div class="column">
    <img src="assets/img/d.jpg" alt="rankings and awesome stuff" class="">
</div>
<div class="column">
  <img src="assets/img/e.jpg" alt="rankings and awesome stuff" class="">
</div>
<div class="column">
  <img src="assets/img/f.jpg" alt="rankings and awesome stuff" class="">
</div>
<div class="column">
  <img src="assets/img/g.jpg" alt="rankings and awesome stuff" class="">
</div>
</div>
</section>