<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a class="icon is-large " href="https://www.facebook.com">
          <i class="fa fa-facebook fas fa-2x"></i>
        </a>
        <a class="icon is-large " href="https://www.twitter.com">
          <i class="fa fa-twitter fas fa-2x"></i>
        </a>
        <a class="icon is-large " href="https://www.linkedin.com">
          <i class="fa fa-linkedin fas fa-2x"></i>
        </a>
      </p>
      <p>
        <strong>@2022 by Record Player Games</strong>
      </p>
    </div>
  </footer>