<p>ranking works!</p>

<section class="section is-large" style="background-color: darkgreen;">
   

       
      <div class="columns">
        <div class="column">
            <img src="assets/img/pic7.jpg" alt="rankings and awesome stuff" class="">
            <p style="color:black; font-size: 20px" >
                here is where the future rankings will be, it is under progress.
            </p>
    
        </div>
        <div class="column">
            <img src="assets/img/pic7.jpg" alt="rankings and awesome stuff" class="">
        </div>
    </div>
</section>