<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar">
    <div class="container">
    <div class="navbar-brand">
      <a class="" href="">
        <img src="assets/img/logo.png" alt="Logo"  width="80" height="200">
      </a>
    </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" routerLink="/home">
            Home
          </a>
          <a class="navbar-item" routerLink="/posts">
            Posts
          </a>
          <a class="navbar-item" routerLink="/reviews">
            Reviews
          </a>
          <a class="navbar-item" routerLink="/ranking">
            Ranking
          </a>
          <a class="navbar-item" routerLink="/lfg">
            Looking for Group
          </a>
        </div>
        <div class="navbar-end">

              <div class="navbar-item has-dropdown is-hoverable" *ngIf="authF.user | async as user; else loggedOut">
                <a class="navbar-link">
                  <span class="icon"><i class="fa fa-home"></i></span>
                  <span>{{ user.displayName | titlecase }}</span>
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    <span class="icon"><i class="fa fa-gear"></i></span>
                    <span>Account</span>
                  </a>
                  <a class="navbar-item" (click)="onLogout()">
                    <span class="icon"><i class="fa fa-sign-out"></i></span>
                    <span>Log out</span>
                  </a>
                </div>
              </div>

          <ng-template #loggedOut>

            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-dark" button (click)="goToComponent('register')">
                  <strong>Sign up</strong>
                </a>
                <a button (click)="goToComponent('login')" class="button is-link">
                  Log in
                </a>
              </div>
            </div>
         
          </ng-template>
        </div>
      </div>
    </div>
  </nav>
