<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar">
    <div class="container">
    <div class="navbar-brand">
      <a class="" href="">
        <img src="assets/img/logo.png" alt="Logo"  width="80" height="200">
      </a>
    </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" routerLink="/home">
            Home
          </a>
          <a class="navbar-item" routerLink="/reviews">
            Reviews
          </a>
          <a class="navbar-item" routerLink="/ranking">
            Ranking 
          </a>
          <a class="navbar-item" routerLink="/lfg">
            LFG 
          </a>       
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-dark">
                <strong>Sign up</strong>
              </a>
              <a class="button is-link">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>