<div class="card">
    <div class="card-content">
      <div class="media" style="position: relative;">
        <div class="media-left" >
          <figure class="image is-128x128">
            <img src="assets/img/ranking/zelda.jpg" alt="Placeholder image" />
          </figure>
          <div class="rating" style="position: absolute;  top:25px; right: 25px;">99</div>
        </div>
        <div class="media-content">
          <p class="title is-4">1.The Legend of Zelda: Ocarina of Time</p>
          <p class="subtitle is-6">
            <span>Platform:</span> Nintendo 64
            <br />
            November 23, 1998
          </p>
          <div class="summary">
            As a young boy, Link is tricked by Ganondorf, the King of the Gerudo
            Thieves. The evil human uses Link to gain access to the Sacred Realm,
            where he places his tainted hands on Triforce and transforms the
            beautiful Hyrulean landscape into a barren wasteland. Link is
            determined to fix the problems he helped to create, so with the help
            of Rauru he travels through time gathering the powers of the Seven
            Sages.
          </div>
        </div>
      </div>
    </div>
  </div>